extends cardlayout

block content
  script.
    $(document).ready(function(){
      $(".notFave").click(function(){
        var url = "/fave/add/team/#{team.team_number}";
        $.getJSON(url,function(data){
          if (data.status === "success")
          {
            quickSnack("Team added to faves successfully");
            $("#fave-star.notFave").css({
              "display":"none"
            });
            $("#fave-star.isFave").css({
              "display":"inline"
            });
          }
          else
          {
            $("#fave-star.notFave").css({
              "display":"inline"
            });
            $("#fave-star.isFave").css({
              "display":"none"
            });
          }
        });
      });
      $(".isFave").click(function(){
        var url = "/fave/remove/team/#{team.team_number}";
        $.getJSON(url,function(data){
          if (data.status === "success")
          {
            quickSnack("Team removed from faves successfully");
            $("#fave-star.notFave").css({
              "display":"inline"
            });
            $("#fave-star.isFave").css({
              "display":"none"
            });
          }
          else
          {
            $("#fave-star.notFave").css({
              "display":"none"
            });
            $("#fave-star.isFave").css({
              "display":"inline"
            });
          }
        });
      });
    });
  #card
    h1.header.team-name #{team.team_number} | #{team.nickname}
    
    if isstar == "yass"
      #fave-star.isFave
        svg(viewBox="0 0 24 24")
          path(fill="#ffeb00" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z")
      #fave-star.notFave(style="display:none")
        svg(viewBox="0 0 24 24")
          path(fill="#ffeb00", d="M12,15.39L8.24,17.66L9.23,13.38L5.91,10.5L10.29,10.13L12,6.09L13.71,10.13L18.09,10.5L14.77,13.38L15.76,17.66M22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24L7.45,13.97L5.82,21L12,17.27L18.18,21L16.54,13.97L22,9.24Z")
    else
      #fave-star.isFave(style="display:none")
        svg(viewBox="0 0 24 24")
          path(fill="#ffeb00" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z")
      #fave-star.notFave
        svg(viewBox="0 0 24 24")
          path(fill="#ffeb00", d="M12,15.39L8.24,17.66L9.23,13.38L5.91,10.5L10.29,10.13L12,6.09L13.71,10.13L18.09,10.5L14.77,13.38L15.76,17.66M22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24L7.45,13.97L5.82,21L12,17.27L18.18,21L16.54,13.97L22,9.24Z")
    h1.subheader #{team.motto}
    h1.content(style="margin-top:2vh;") #{team.name}
    h1.content(style="margin-top:2vh;") Website: 
      a(href="#{team.website}") #{team.website}
  h1(style="font-size:2.2em") Events:
  each e, i in events
    #card
      a.header(href="/event/#{e.key}") #{e.short_name}
      h1.subheader #{e.key}
